<style>
	.scroll-tab-nav {
		border-bottom: 1px solid #999;	
	}
	.scroll-tab-nav > .scroll-tab-nav-item {
		margin-left: 5px;
	}
	.scroll-tab-nav a, .scroll-tab-nav a:visited, .scroll-tab-nav a:not(.active):hover {
		text-decoration:none;
		color: #337ab7;
	}
	.scroll-tab-nav a.active:hover, .scroll-tab-nav a:focus, .scroll-tab-nav a:active, .scroll-tab-nav a.active{
		color: #23527c;
	}
	.scroll-tab-nav > .active { 
		font-weight: bold;
		border-bottom-color: #666;
	}
	
	.scroll-tab-content {
		display: flex;
		flex-direction: column;
		margin-left: -15px;
    	margin-right: -15px;
	}
	.scroll-tab-content:after{
		content:'';
		margin-bottom: calc(100vh + 40rem);
	}
	
	.scroll-tab-pane {
		margin-bottom: 10px;
	}
	.scroll-tab-pane:first-child > .title {
		display: none;
	}
	.scroll-tab-pane > .tiles-list {
		display: flex;
		flex-flow: wrap;
	}
	
	.scroll-tab-pane .tile {
		margin: 15px 5px;
		font-variant: small-caps;
		min-width: 11rem;
		width: 11rem;
		height: 11rem; 
		min-height: 11rem; 		
		background: #fff; 
		border: 1px solid #ccc;
	}
	
	.tile.thumbnail{
		padding: 0;
	}
	
	.tile .tile-content{
		height: 100%;
	    width: 100%;
	    padding: 4px;
	}
	
	.tile iframe {
		border: 0;
	}
	
	.overlay-container {
		position: relative;
	}
	
	.overlay-link {
		position: absolute;
	    left: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 999;
	    opacity: 0;
	}	
</style>

<nav class="scroll-tab-nav" du-scroll-container="shell-content">
	<a class="scroll-tab-nav-item" ng-repeat="category in homeVm.categories" href="#{{category.name}}" du-smooth-scroll du-scrollspy ng-bind="category.name" ng-if="category.tiles.length>0"></a>
</nav>

<div class="container-fluid scroll-tab-content" id="shell-content">
	<div id="{{category.name}}" class="scroll-tab-pane" ng-repeat="category in homeVm.categories" ng-if="category.tiles.length>0">
		<span class="title" ng-bind="category.name"></span>
		<div class="tiles-list">
			<div ng-repeat="tile in category.tiles" class="overlay-container thumbnail tile">
				<a  ui-sref="{{tile.name}}" ui-sref-active="active" class="overlay-link"></a>
				<div ng-if="!tile.tileUrl"class="tile-content">{{tile.label}}</div>
				<iframe ng-if="tile.tileUrl" ng-src="{{tile.tileUrl}}" scrolling="no" class="tile-content"></iframe>
			</div>
		</div>
	</div>
</div>
