<nav class="scroll-tab-nav" du-scroll-container="shell-content">
	<a class="scroll-tab-nav-item" ng-repeat="category in homeVm.categories" href="#{{category.name}}" du-smooth-scroll du-scrollspy ng-bind="category.name" ng-if="category.tiles.length>0"></a>
</nav>

<div class="container-fluid scroll-tab-content" id="shell-content">
	<div id="{{category.name}}" class="scroll-tab-pane" ng-repeat="category in homeVm.categories" ng-if="category.tiles.length>0">
		<span class="title" ng-bind="category.name"></span>
		<div class="tiles-list">
			<div ng-repeat="tile in category.tiles" class="overlay-container thumbnail tile">
				<a  ui-sref="{{tile.name}}" ui-sref-active="active" class="overlay-link"></a>
				<div ng-if="!tile.tileUrl"class="tile-content">{{tile.label}}</div>
				<iframe ng-if="tile.tileUrl" ng-src="{{tile.tileUrl}}" scrolling="no" class="tile-content"></iframe>
			</div>
		</div>
	</div>
</div>
